@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .flex-between-change {
    justify-content: start;
    flex-direction: column;
  }
}

@layer base {
  :root {
    /* colors */
    --primary-color: #9cd8f1;
    --complementary-color: #f1af9c;
    --field-color: #f0f4f8;
    --accent-color: #4a90e2;

    /* text colors */
    --dark: #2c3e50;
    --lighter: #5a6b7c;
    --success: #01754f;
    --error: #f56565;

    /* bg colors */
    --background-color: #f7f9fc;
    --primary-form-color: #dce7ee;
    --secondary-form-color: #e6f5fc;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
